<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo Headlines</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Mongo Headlines</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/saved-articles">Saved Articles</a>
                </li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li>
                    <a href="/saved-articles">Saved Articles</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
    <div id="error" class="modal">
        <div class="modal-content">
            <h4 class="card-panel white-text red darken-4">Server Error</h4>
            <p>Sorry something went wrong in our server! Please try later</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div id="success" class="modal">
        <div class="modal-content">
            <h4 class="card-panel white-text green darken-4">Scraping completed</h4>
            <p id="message"></p>
        </div>
        <div class="modal-footer">
            <a href="/" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    {{{ body }}}
</body>

</html>